


/*    Appilicant-dashboard Page start     */
.appilicant-dashboard-section {
  margin:25px 0;
}
.higher-Secondary {
  margin-bottom: 15px;
}
.personal-info {
  margin:auto;
}
.appilicant-unite-area ul li{
    list-style-type: none;
    margin: 0px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
  
}
.appilicant-unite-area ul li a{
  text-decoration: none;
    width: 100px;
    padding: 5px 15px;
    text-align: center;
    color: #27AE60;
    display: inline-block;
    border: 1px solid #27AE60;
    box-shadow: 3px 3px 2px rgb(0 0 0 / 7%);
    border-radius: 50px;
}
.height-345 {
  height: 345px;
}
.width-330 {
  width:330px;
}
.appilicant-unite-area {
  height: 100%;
}
.Secondary ul,
.higher-Secondary ul,
.personal-info ul {
  list-style-type: none;
}
.Secondary ul li span:first-child,
.higher-Secondary ul li span:first-child,
.personal-info ul li span:first-child {
  width: 140px;
  color:rgba(17,17,17,0.7);
  display: inline-block;
  margin-bottom: 8px;
}
hr {
  opacity: 0.5;
}
.personal-info {
  height: 100%;
}