/* 
===========================
dashboard sub step nav 
===========================
*/

.dash-sub-nav-section {
   background: #00162A;
   height: 64px;
   margin-top: 1px;
}
.dash-sub-nav-section  .dash-sub-icon {
   margin-top: 22px;
}
.dash-sub-nav-section  .dash-sub-icon .icon-img {
  color:#F2C94C;
  margin-right: 10px;
  font-size: 18px;
  margin-top:-6px;
}
.dash-sub-nav-section  .dash-sub-icon .icon-text {
  margin-bottom: 0px;
}
.dash-sub-nav-section .desh-step-nav{
  display: flex;
  justify-content: flex-end; 
}
.font-14 {
  font-size: 14px;
}
.bg-green-1 {  
  background: #219653;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav {
  display: flex;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-step-icon {
      margin-top: 20px;
      position: relative;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info {
  margin-top: 20px;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p {
  color:#86909A;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px !important;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-step-icon .main-icon {
  width: 24px;
  height: 24px;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-step-icon .step-nav-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.0;
}
.active {
  opacity: 1 !important;
  color:#219653 !important;
}
@media (max-width: 1200px)  {
  .dash-sub-nav-section {
    background: #00162A;
}
.dash-sub-nav-section .dash-sub-icon {
    
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p {
  margin-right: 0px;
  margin-top:2px;
}
.dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p img {
}
}
@media (max-width: 1199px) {
    .dash-sub-nav-section .dash-sub-icon {
    display: none !important
  }
  .dash-sub-nav-section .desh-step-nav {
    justify-content: space-between !important;
  }
}
@media only screen and (min-width: 568px) and (max-width:852px) {
  .dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p img {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width:852px) {

}
@media (max-width: 576px) {
  .dash-sub-nav-section {
    height: 90px !important;
    padding-top: 9px;
} 
.dash-sub-nav-container .row .col-md-12 {
  padding-right:0px !important;
}
  .dash-sub-nav-section .desh-step-nav .single-step-nav {
    display: block;
    width: 82px;
      height: 78px;
  }
  .dash-sub-nav-container .row {
    padding-right: 0px;
    margin-right: 0px;
  } 
  .dash-sub-nav-section .dash-sub-nav-container  {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dash-sub-nav-section .desh-step-nav {
    justify-content: center !important;
  }
  .dash-sub-nav-section .desh-step-nav .single-step-nav .single-step-icon {
     margin-top: 0px; 
    position: relative;
    margin-left: 30%;
  } 
  .dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p {
  margin-left: 0px;
  font-size: 11px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: -7px;
  }
  .dash-sub-nav-section .desh-step-nav .single-step-nav .single-setp-info p img {
    display: none;
  }
}
